[user]
	name = Jack Baldry
	email = jack.baldry@grafana.com
	signingkey = 273C04D74B47495F445D1BF8C2C6206025BAB555
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	co-pr = !sh -c 'git fetch origin pull/$1/head:pr/$1 && git checkout pr/$1' -
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	replace = preserve
	rebase = merges
[gpg]
	program = gpg2
[rebase]
	autoStash = true
[commit]
	gpgsign = true
	template = /home/jdb/.gitmessage
[url "git@github.com:"]
	insteadOf = https://github.com/
[init]
	defaultBranch = main
